
nav{
    transition: all 0.4s ease-in-out;
    height: 20vh;
}


.nav-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.logo-img {
    height: 100%;
    margin-right: 5vh;
}

.menu-links{
    margin-left: 2vh;
    
}
.menu-text{
    color: #742369;
    font-weight: 600;
    font-size: 18px;
    font-size: calc(100%)
}


@media only screen and (max-width: 720px) {

}